{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SuperMercado ChangoMas</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {# Necesario para que se adapte Bootstrap #}

    {# CSS general #}
    <link href="{% static "dssd_web/bootstrap-3.3.7/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "dssd_web/bundles/base.css" %}" rel="stylesheet">

    {# Estilos particulares de cada pagina#}
    {% block styles %}{% endblock %}
</head>
<body>
    {# Contenido particular de cada pagina #}
    {% block content %}{% endblock %}

    {# JS general #}
    <script src="{% static "dssd_web/bundles/base.js" %}"></script>

    {# URLs dinamicas #}
    <script>
        {# Cookie de la session #}
        const cookieSessionId = "{{ request.COOKIES.sessionid }}";

        {# URLs #}
        const getProductsURL = "{% url 'dssd_app:list_products' %}"; {# URL para obtener los productos #}
        const indexURL = "{% url 'index' %}"; {# URL del index #}
        const loginURL = "{% url 'login' %}"; {# URL del login #}
        const logoutURL = "{% url 'logout' %}"; {# URL para cerrar sesion #}
        const buyURL = "{% url 'dssd_app:add_sale' %}"; {# URL para confirmar la compra #}
        const getGeneralDicountURL = "{% url 'dssd_app:get_discount' %}"; {# URL para obtener el descuento general #}
        const getCouponDicountURL = "{% url 'dssd_app:get_coupon_discount' %}"; {# URL para obtener el descuento por el cupon ingresado #}

        {% if user.is_authenticated %}
            const isAuthenticated = true; {# Booleano para ver si esta logueado actualmente #}
            const statisticsURL = "{% url 'statistics' %}"; {# URL de los graficos estadisticos #}
        {% else %}
            const isAuthenticated = false; {# Booleano para ver si esta logueado actualmente #}
            const statisticsURL = ""; {# URL de los graficos estadisticos #}
        {% endif %}
    </script>

    {# Scripts particulares de cada pagina #}
    {% block scripts %}{% endblock %}
</body>
</html>