{% extends 'dssd_web/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "dssd_web/bundles/index.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {# App principal, renderizada con React #}
    <div id="app"></div>
{% endblock %}

{% block scripts %}
    {# Script generado por webpack #}
    <script src="{% static "dssd_web/bundles/index.js" %}"></script>
{% endblock %}