{% extends 'dssd_web/base.html' %}
{% load static %}

{% block styles %}
    <link href="{% static "dssd_web/css/login.css" %}" rel="stylesheet">
{% endblock %}


{% block content %}
     <div id="login-form">
        <div class="row">
            <div class="col-md-12 text-center">
                <img id="login-icon" src="{% static "dssd_web/img/adn.png" %}" alt="Logo principal"/>
            </div>
        </div>

        {# Formulario de login #}
        <form class="form" method="POST" action="{% url 'authenticate' %}">
            {# Mensaje de error #}
            {% if error_message %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ error_message }}
                </div>
            {% endif %}

            {# Inputs #}
            {% csrf_token %}
            <input type="text"
                id="username"
                name="username"
                placeholder="Usuario"
            />
            <input type="password"
                id="password"
                name="password"
                placeholder="Contraseña"
            />

            <button type="submit"
                id="boton-login"
                class="btn">
                Entrar
            </button>

            {# Se puede ir a comprar igual #}
            <a href="{% url 'index' %}">
                <p class="margin-top-5">Continuar sin loguearse</p>
            </a>
        </form>
        <footer id="footer">
            <div class="container text-center">
                <span class="text-muted">DSSD 2018</span>
            </div>
        </footer>
     </div>
{% endblock %}