{% extends 'dssd_web/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "dssd_web/bundles/statistics.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {# App principal, renderizada con React #}
    <div id="app-statistics"></div>
{% endblock %}

{% block scripts %}
    {# URLs dinamicas #}
    <script>
        const listSalesURL = "{% url 'dssd_app:list_sales' %}"; {# URL de la informacion de ventas #}
    </script>

    {# Script generado por webpack #}
    <script src="{% static "dssd_web/bundles/statistics.js" %}"></script>
{% endblock %}